__pycache__
*.pyc
.vscode
msasl_datasets
temp
backup
**/raw_videos
**/raw_videos_mp4
**/videos
**/train_test
**/train
**/test
**/own_vid
**/more_vid
**/train_more_selfvid
**/MS-ASL/dataset
**/3d_scatter

